.Results {
  display: flex;
  justify-content: center;
  padding: 12rem;
}

.Results_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80ch;
  text-align: center;
}

.Results_Container h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.Results_Container p {
  line-height: 1.75rem;
}

.Results_Container img {
  border-radius: 1rem;
  width: 40rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 780px) {
  .Results_Container img {
    border-radius: 1rem;
    width: 30rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Results_Container img {
    border-radius: 1rem;
    width: 25rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 430px) {
  .Results {
    display: flex;
    justify-content: center;
    padding: 4rem 12rem;
  }

  .Results_Container img {
    border-radius: 1rem;
    width: 20rem;
  }
}
