.Footer {
  background-color: var(--logo);
  height: 20rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.Footer h4 {
  font-size: 1.25rem;
}

.Footer a {
  display: block;
  margin-bottom: 0.25rem;
  color: white;
}
