:root {
  --logo: #507dbc;
}

.Description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  margin: auto;
  line-height: 1.75rem;
  text-align: center;
}

.Description h3 {
  font-size: 2rem;
}

.Description button {
  display: block;
  margin: auto;
  min-width: 8rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  transition: ease 0.25s;
  border: 3px solid transparent;
}

.Description button:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  cursor: pointer;
}

.What_We_Do_Hero_Logo {
  height: 35rem;
  width: 35rem;
  filter: invert(51%) sepia(13%) saturate(1753%) hue-rotate(176deg)
    brightness(90%) contrast(95%);
  opacity: 0.25;
  position: absolute;
  right: -100px;
}

.What_We_Do {
  height: auto;
}

.What_We_Do_Hero {
  background-color: #04080f;
  padding: 2rem;
}

.What_We_Do_Wrapper {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin: auto;
}

.What_We_Do_Text {
  color: white;
  max-width: 50ch;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.What_We_Do_Text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.What_We_Do_Image1,
.What_We_Do_Image2 {
  width: 400px;
  margin-bottom: 1rem;
}

.Card_Container {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background: whitesmoke;
  padding: 2rem;
  z-index: 10;
  line-height: 1.75rem;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Card h3 {
  margin-bottom: 0;
}

.Results {
  display: flex;
  justify-content: center;
  padding: 12rem;
  height: 50rem;
}

.Results_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80ch;
  text-align: center;
}

.Results_Container h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.Results_Container p {
  line-height: 1.75rem;
}

.Results_Container img {
  border-radius: 1rem;
}

.Mission {
  background-color: #04080f;
  color: white;
  padding: 5rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.Mission_Container button {
  padding: 1rem;
  background-color: var(--logo);
  border-radius: 1rem;
  border: 3px solid transparent;
  transition: ease 0.5s;
}

.Mission_Container button:hover {
  border: 3px solid var(--logo);
  color: white;
  background-color: #04080f;
  cursor: pointer;
}

.Mission img {
  width: 50rem;
  border-radius: 1rem;
}

.Footer {
  background-color: var(--logo);
  height: 20rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.Footer h4 {
  font-size: 1.25rem;
}

.Footer a {
  display: block;
  margin-bottom: 0.25rem;
  color: white;
}
