:root {
  --logo: #507dbc;
}

.Description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  margin: auto;
  line-height: 1.75rem;
  text-align: center;
}

.Description h3 {
  font-size: 2rem;
}

.Description button {
  display: block;
  margin: auto;
  min-width: 8rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  transition: ease 0.25s;
  border: 3px solid transparent;
}

.Description button:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  cursor: pointer;
}
