.Footer {
  background-color: var(--logo);
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.Footer h4 {
  font-size: 1.25rem;
}

.Footer a {
  display: block;
  margin-bottom: 0.25rem;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 780px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 430px) {
}
