:root {
  --logo: #507dbc;
}

.Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  padding: 1.1rem 0;
  padding-right: 3rem;
  background-color: white;
}

.Nav > .Nav_Logo_Container {
  padding-left: 1rem;
}

.Nav > .Nav_Logo_Container:hover {
  border: 3px solid transparent;
}

.Nav_Logo_SVG {
  height: 2rem;
  width: 2rem;
  filter: invert(51%) sepia(13%) saturate(1753%) hue-rotate(176deg)
    brightness(90%) contrast(95%);
}

.Nav_Logo_Text {
  font-size: 2rem;
}

.Nav_Link_Container {
  display: flex;
  margin-top: auto;
  gap: 3rem;
  justify-content: center;
}

.Nav a {
  display: block;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  border: 3px solid transparent;
}

.Nav a:hover {
  color: var(--logo);
  border-bottom: 3px solid var(--logo);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {
  .Nav {
    padding: 1rem 0;
  }

  .Nav_Logo_Text {
    font-size: 1.5rem;
  }

  .Nav a {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Nav {
    justify-content: center;
    padding: 0 1rem;
  }

  .Nav_Logo_Text {
    font-size: 1.5rem;
  }

  .Nav a {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .Nav_Logo_Container {
    padding-top: 0;
  }

  .Nav_Logo_Text {
    padding-top: 0;
    font-size: 1.5rem;
  }

  .Nav a {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
}
